<div class="container">

  <%= link_to 'Galleries List', galleries_path %>

  <h1><%= @gallery.name %></h1>
  <%= @gallery.description %><br>
  <%= @gallery.medium %><br>
  <%= @gallery.website %><br>
  <%= @gallery.address %><br>
  <%= @gallery.phone %><br>
  <%= @gallery.hours %><br>

</div>